[
  {
    rabbit,
      [
        {tcp_listeners,[5672]},
        {loopback_users,[]},
        {default_vhost,<<"vhost">>},
        {default_user,<<"user">>},
        {default_pass,<<"pass">>}
      ]
  },
  {
    rabbitmq_management,
      [
        { load_definitions, "/opt/definitions.json" }
      ]
  }
].