global:
  scrape_interval: 5s
scrape_configs:
  - job_name: 'backend-publisher'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:1992']
  - job_name: 'backend-subscriber'
    metrics_path: /metrics
    static_configs:
      - targets: ['host.docker.internal:1993']
  - job_name: 'rabbitmq'
    scrape_interval: 5s
    static_configs:
      - targets: ['rabbitmq:15692']
  - job_name: 'redis'
    scrape_interval: 5s
    static_configs:
      - targets: ['host.docker.internal:9121']
